extends layout

block content
  h1.content-header= title

  if error 
    p Error getting dynamic content.
  else 
    p Current stats of our leagues

    ul 
      li #[strong Leagues:] !{data.leagues}
      li #[strong Teams:] !{data.teams}
      li #[strong Players:] !{data.players}
        
