extends layout 

block content 
  h1=title 
  h2=league.name 
  h4 #[strong Are you sure you want to delete this League?]

  form(method="POST" action='')
    input(type='hidden' name='leagueid', requried='true', value =league._id)
    input(type="text", placeholder='password' name="password" requried='true')
    button(type='submit') Delete
